:root {
    --bg-color: #232829;
    --bg--accent-color: #313637;
    --dark-stroke: #484D4E;

    --accent-color: #FDB056;
    --red-color: #FD5656;
    --yellow: #FFBB00;

    --green: #81FE95;
    --dark-green: #2D3233
}
